@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #D5E1EF;
    font-family: 'outfit' ,sans-serif;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main{
    width: 320px;
    height: 500px;
    padding: 20px;
    background: #fff;
    border-radius: 15px;
}

.qr-code{
    background: url(images/image-qr-code.png);
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.content{
    text-align: center;
}

.content h1{
    color: #1C2840;
    font-size: 23px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.content p{
    font-size: 15px;
    color: #8C919D;
    font-weight: 400;
}